<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>dkdkddkkddk</h1>
    <p>오더 아이디: <%=data[0].id %></p>
    <p>고객 아이디: <%=data[0].customerId %></p>
    <p>폰번호: <%=data[0].phoneNumber %></p>
    <p>옷 목록: <%=data[0].clothType %></p>
    <p>사진: <%=data[0].picture %></p>
    <p>추가 요청사항: <%=data[0].requests %></p>
    <p>진행상황 : <%=data[0].status %></p>
  </body>
</html>
